header, footer, main h2{
    font-family: 'Lobster', cursive; 
}


/* sticky footer */
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

#brand-logo{
    padding-left: 0.5rem;
}

.playIcon{
    background-color: #ee6e73;
}
.card-title-style{
    font-family: 'Lobster', cursive;
}
.aboutmeMenu p{
    padding-bottom: 1rem;
}
